* {
    
}

.navbar a {
    color: black;
}

.container {
    padding: 50px;
    margin-top: 30px;
    border-radius: 1.5rem;
}

.table-title {
    text-align: center;
}

.card {
    margin-top: 50px;
}

.card-body {
    text-align: center;
}

.btn {
    background-color: #0375b4;
    color: #fff;
}

.btn a {
    color: #fff;
}

.btn a:hover {
    text-decoration: none;
    color: #fff;
}

footer {
    height: 50px;   
    display: flex;
    text-align: center;
    padding-top: 15px;
    background-color: #0375b4;
    color: #fff;    
}

